
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
	--foreground-rgb: 176, 184, 175;
	--background-start-rgb: 235, 232, 222;
	--background-end-rgb: 212, 202, 180;
  }
}

body {
  color: rgb(var(--foreground));
  background-color: var(--background);
  //background: linear-gradient(
  //    to bottom,
  //    transparent,
  //    rgb(var(--background-start-rgb))
  //  )
  // rgb(var(--background-end-rgb));

}

div.footer__middle-2 {
  padding: 3rem 0 1rem;
}
ul.footer__nav {
  justify-content: space-between;
  align-items: flex-start;
}
li.footer__menu-item {
  padding: 0 !important;
  flex: 1;
	.main-dropdown {
	position: relative;
	  top: 0;
	opacity: 1;
	visibility: visible;
	background: none;
	  li {
		padding: 0 !important;
		display: block;
		a {
		  padding: 10px 0;
		}
	  }
	}
  > a {
	font-size: 1.5rem;
	line-height: 1;
  }
}

.portfolio-section .sec-title {
	opacity: 1;
}
.about__area-3 .sec-text-wrapper {
	padding-left: 0;
}
.about__area-3 .sec-text p {
	max-width: initial;
}
.service__area  .service__top-text  p, .service__area-3  .service__top-text  p, .service-v4  .service__top-text  p   {
	max-width: initial;
}
.service__area .service__item .service__text {
	max-width: initial;
}
.service__area .service__item {
	grid-template-columns: 0.3fr .7fr 2.5fr .5fr;
	align-items: start;
}
.service__area .sec-title-wrapper,  .service-v4 .sec-title-wrapper  {
	display: block;
}
.service__area  .service__top-text  p:first-child, .service-v4  .service__top-text  p:first-child  {
	margin-bottom: 1.5rem;
}
.service__area  .service__top-text, .service-v4  .service__top-text {
	display: initial;
}
.solution__area-4 p {
	max-width: initial;
	color: var(--foreground);
	font-weight: 300;
	font-size: 20px;
	line-height: 1.4;
	margin: 1.5rem 0;
}
.solution__area-4 {
	overflow: hidden;
	background-color: #1E2024;

	background-position: left center;
	background-repeat: no-repeat;
	background-size: 36%;
	padding: 179px 0px 170px;
	position: relative;
}

.service__list  li::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	content: "+";
}
.service__list {
	margin-top: 1rem;
}
.service__list li {
	font-size: 18px;
	color: var(--white);
	font-weight: 400;
	position: relative;
	padding-left: 15px;
	margin-bottom: 5px;

}
.workflow__area-4 p {
	margin: 1rem 0;
}
.workflow__area-4 p:first-child {
	margin-top: 3rem;
}

.service__item-3 {
	display: -ms-grid;
	display: grid;
	grid-template-columns: 20% 65% 15%;
	border-bottom: 1px solid var(--white-2);
	padding: 55px 0 50px;
	position: relative;
}
.service__content-3 {
	max-width: 90%;
}

.development__wrapper ul {
	margin-bottom: 30px;
	border-bottom: 1px solid var(--black-3);
}
.development__wrapper ul:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
.development__wrapper ul {
	grid-template-columns: 1fr;
}
.development__wrapper {
  .solution-features {
	display: flex;
	gap: 2rem;
  }
}
.price__amount p {
	display: inline-block;
	border-top: 1px solid var(--gray-5);
	margin-top: 2rem;
	padding-top: 20px;
	font-size: 1.5rem;
}
.btn {
	height: 4rem;
	display: inline-flex;
	/*text-transform: uppercase;*/
	letter-spacing: 0.05em;
	justify-content: center;
	align-items: center;
	border-width: 2px;
	color: var(--gray-10);
	border-color: var(--gray-10);
	font-size: 1.25rem;
	padding-left: 3rem;
	padding-right: 3rem;

}
.btn-filled {
	color: white;
	border-color: var(--lime-2);
	background: var(--lime-2);
}

.service__area-6.section_default {
  background:  var(--background);



}
